.helper,
.helper2 {
  position: absolute;
  right: 26.5%;
  transform: translateY(-250%);
  color: #353535;
  font-size: 1.05rem;
  cursor: pointer;
}

.helper2 {
  right: 28%;
}

#pw-info {
  display: none;
  border: 1px solid #e5e4f0;
  background-color: #6200ff;
  width: 20rem;
  border-radius: 10px;
  padding: 0.4rem;
  margin: 2rem auto;
}

#pw-info h5 {
  font-size: 0.9rem;
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 1px solid #ffffff;
  text-transform: uppercase;
  margin: 4px;
}

#pw-info p {
  display: block;
  font-size: 0.8rem;
  margin: 0 0 4px 4px;
  padding: 0;
}
