<%- include('../includes/head.ejs') %>
<script src="/script/home.js" defer></script>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div id="error-xxx">
      <h1>How did you end up here? Page Not Found! (^__^)</h1>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>
